<div>
    <h2>{{forumName}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Thread name</th>
                <th>Replies</th>
                <th>Last Modified</th>
                <th>
                    <a ng-click="prevPage()">prev page</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-click="nextPage()">next page</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="thread in threadList">
                <td><a href="#/forum/{{forumCode}}/{{thread.name}}">{{thread.name}}</a></td>
                <td>{{thread.count}}</td>
                <td>{{thread.last_modified}}</td>
                <td>delete</td>
            </tr>
        </tbody>
    </table>
</div>