<div>
    <h2>{{forumName}}</h2>


    <table class="table">
        <thead>
        <tr>
            <th width="70%">{{threadName}}</th>
            <th></th>
            <th>
                <a ng-click="prevPage()">prev page</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a ng-click="nextPage()">next page</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in postList">
            <td ng-bind-html="post.post"></td>
            <td>{{post.author}}</td>
            <td>delete</td>
        </tr>
        </tbody>
    </table>
</div>