<!-- Jumbotron
    ================================================== -->

<div class="jumbotron">
    <div class="container">
        <h1><a href="#top"></a>Brotherly Love? Not on Gameday</h1>
        <p class="lead">Join today to discuss Philadelphia Eagles football with the most knowledgeable and passionate fans of any team in the National Football League!</p><br>
        <p style="margin:0px 0px 20px 0px;"><a class="btn btn-lg btn-primary" href="/#/register" role="button"><strong>JOIN 700LEVEL.COM</strong></a></p>
    </div>
</div>


<div class="container">

    <div class="content-container-left">

        <div class="content-row">

            <h2 class="page-heading">Contact: <span class="text-muted">700level.com</span></h2>
            <p>700level.com is an independent web site developed by fans, maintained by fans and offered as an alternate resource to the fans of the Philadelphia Eagles. 700level.com is not affiliated with the Philadelphia Eagles football franchise in any way and has no official contact with the organization.</p>

            <form role="form">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input type="email" class="form-control" id="exampleInputName1" ng-model="from"
                           placeholder="First &amp; Last Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="email"
                           placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleInputSubject1">Subject</label>
                    <input type="password" class="form-control" id="exampleInputSubject1" ng-model="subject"
                           placeholder="Subject">
                </div>

                <div class="form-group">
                    <label for="exampleInputMessage1">Message</label>
                    <textarea class="form-control" rows="5" ng-model="message"
                              placeholder="Enter Your Message Here"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="sendMessage()">Submit</button>
            </form>


        </div><!-- end content-row -->

    </div><!-- end content-container-left -->

    <hr>

    <div class="content-container">
        <div class="row">

            <div class="col-md-4">
                <img class="img-circle" src="images/logo_icon_01.gif">
                <h2>Fans' View</h2>
                <p>The 700level.com message boards have been a part of the Philadelphia Eagles conversation since 1999. Join the greatest community of fans on the planet to talk about the team and the game!</p>
                <p><a class="btn btn-default" href="#/fansview" role="button">Enter The Boards &raquo;</a></p>
            </div><!-- end col-md-4 -->

            <div class="col-md-4">
                <img class="img-circle" src="images/logo_icon_01.gif">
                <h2>700Level Gear</h2>
                <p>Coming Soon!</p>
                <p><a class="btn btn-default" href="#" role="button">Get The Gear &raquo;</a></p>
            </div><!-- end col-md-4 -->

            <div class="col-md-4">
                <img class="img-circle" src="images/logo_icon_01.gif">
                <h2>Contact Us</h2>
                <p>Got a question or comment about this web site? Trying to get in touch with another 700level.com user? This is the best way to get in touch with us.</p>
                <p><a class="btn btn-default" href="#/contact" role="button">Drop Us a Line &raquo;</a></p>
            </div><!-- end col-md-4 -->

        </div><!-- end row -->

        <hr>
        <p><a class="btn btn-default" href="#/contact#top" role="button">BACK TO TOP</a></p>

    </div><!-- end content-container -->