<!-- Jumbotron
================================================== -->

<style>
    .bold {
        font-weight: bold;
    }
</style>

<div class="jumbotron2">
    <div class="container">
        <h1>Fans' View Message Boards</h1>
        <p class="lead">The best place to talk Philadelphia Eagles football with the most knowledgeable and passionate fans of any team in the National Football League!</p><br>
    </div>
</div>

<!-- SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH -->
<div class="container">
    <div class="content-container">

        <div class="row">
            <div class="col-md-12">
                <div class="input-group">

                    <div class="input-group-btn">
                        <!--
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                ng-click="return false;">
                            SEARCH <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" ng-model="searchForum">
                            <li><a href="#">Nosebleeds</a></li>
                            <li><a href="#">Concourse</a></li>
                            <li><a href="#">Tailgate</a></li>
                            <li><a href="#">Owner's Box</a></li>
                        </ul>
                        -->
                        SEARCH:&nbsp;&nbsp;

                    </div>


                    <input type="text" class="form-control" ng-model="searchTerm">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search()">FIND</button>
                    </span>
                </div>

            </div>
        </div>
    </div><!-- end row -->

</div><!-- end content-container -->
</div><!-- end container -->
<!-- SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH SEARCH -->

<div class="container">
<div class="content-container-left">

    <h2>{{forumName}}</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <button type="button" class="btn btn-default" ng-click="newThread()">Create new thread</button>
            </div>
            <div class="pull-right">
                <ul class="pagination">
                    <li><a ng-click="jumpToPage(1)">&laquo; First</a></li>
                    <li><a ng-click="prevPage();">&laquo; Prev</a></li>
                    <li ng-repeat="page in pageList">
                        <a ng-click="jumpToPage(pageList[$index]);" ng-class="((pageList[$index] === pageNum)?'bold':'')">
                            {{pageList[$index]}}
                        </a>
                    </li>
                    <li><a ng-click="nextPage();">Next &raquo;</a></li>
                    <li><a ng-click="jumpToPage('max');">Last &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tr>
                <td>
                    <h4>Topic</h4>
                </td>
                <td>
                    <h4>Originator</h4>
                </td>
                <td>
                    <h4>Replies</h4>
                </td>
                <td>
                    <h4>Latest Post</h4>
                </td>
            </tr>

            <tr ng-repeat="thread in threadList">
                <td>
                    <a href="#/fansview/{{forumCode}}/thread/{{thread.thread_id}}">
                        {{thread.name | limitTo:60 }}<i ng-if="(thread.name.length >= 60)"> ...</i>
                    </a>
                </td>
                <td>
                    <a href="#/fansview/{{forumCode}}/thread/{{thread.thread_id}}/max">
                        {{thread.thread_author}}
                    </a>
                </td>
                <td>
                    {{thread.count}}
                </td>
                <td nowrap>
                    <a href="#/fansview/{{forumCode}}/thread/{{thread.thread_id}}">
                        {{thread.last_modified | date:'M/d/yyyy h:mm a'}}
                    </a>
                </td>
            </tr>
        </table>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <ul class="pagination">
                        <li><a ng-click="jumpToPage(1)">&laquo; First</a></li>
                        <li><a ng-click="prevPage();">&laquo; Prev</a></li>
                        <li ng-repeat="page in pageList">
                            <a ng-click="jumpToPage(pageList[$index]);" ng-class="((pageList[$index] === pageNum)?'bold':'')">
                                {{pageList[$index]}}
                            </a>
                        </li>
                        <li><a ng-click="nextPage();">Next &raquo;</a></li>
                        <li><a ng-click="jumpToPage('max');">Last &raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end tableresponsive -->


</div><!-- end content-container-left -->

<div class="content-container">

    <div class="row">
        <div class="col-md-3">
            <p><a class="btn-lg btn-info btn-block" href="/#/fansview/nosebleeds" role="button"><strong>NOSEBLEEDS</strong></a></p>
        </div><!-- end col-md-3 -->

        <div class="col-md-3">
            <p><a class="btn-lg btn-info btn-block" href="/#/fansview/concourse" role="button"><strong>CONCOURSE</strong></a></p>
        </div><!-- end col-md-3 -->

        <div class="col-md-3">
            <p><a class="btn-lg btn-info btn-block" href="/#/fansview/tailgate" role="button"><strong>TAILGATE</strong></a></p>
        </div><!-- end col-md-3 -->

        <div class="col-md-3">
            <p><a class="btn-lg btn-info btn-block" href="/#/fansview/ownersbox" role="button"><strong>OWNER'S BOX</strong></a></p>
        </div><!-- end col-md-3 -->
    </div><!-- end row -->

    <hr>
    <p><a class="btn btn-default" href="#" role="button">BACK TO TOP</a></p>

</div><!-- end content-container -->