<!-- Jumbotron
    ================================================== -->

<div class="jumbotron2">
    <div class="container">
        <h1>Fans' View Message Boards</h1>
        <p class="lead">The best place to talk Philadelphia Eagles football with the most knowledgeable and passionate fans of any team in the National Football League!</p><br>
    </div>
</div>


<div class="container">

    <div class="content-container-left">

        <h2>{{forumName}}</h2>

        <hr>

        <form class="form-horizontal" role="form">
            <!--
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Screen Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputScreenName" placeholder="Screen Name">
                </div>
            </div><!-- end form-group -->

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Subject Title</label>
                <div class="col-sm-9">
                    <input type="text" disabled class="form-control" id="inputSubject" placeholder="{{threadName}}">
                </div>
            </div><!-- end form-group -->

            <div class="form-group">
                <label for="inputMessage" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="6" ng-model="post"></textarea>
                </div>
            </div><!-- end form-group -->

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Share URL</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="inputURL" placeholder="Paste Your URL Here (optional)">
                </div>
            </div><!-- end form-group -->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-9">
                    <button type="submit" class="btn btn-danger" ng-click="talkback();">POST MESSAGE</button>
                    <button type="submit" class="btn btn-default" ng-click="cancel();">CANCEL</button>
                </div>
            </div><!-- end form-group -->
        </form>

    </div><!-- end content-container -->