<!-- Jumbotron
================================================== -->

<style>
    .bold {
        font-weight: bold;
    }
</style>

<div class="jumbotron2">
    <div class="container">
        <h1>Fans' View Message Boards</h1>

        <p class="lead">The best place to talk Philadelphia Eagles football with the most knowledgeable and passionate
            fans of any team in the National Football League!</p><br>
    </div>
</div>


<div class="container">

    <div class="content-container-left">

        <h2>{{forumName}}</h2>

        <ul class="pagination">
            <li><a ng-click="jumpToPage(1)">&laquo; First</a></li>
            <li><a ng-click="prevPage();">&laquo; Prev</a></li>
            <li ng-repeat="page in pageList">
                <a ng-click="jumpToPage(pageList[$index]);" ng-class="((pageList[$index] === pageNum)?'bold':'')">
                    {{pageList[$index]}}
                </a>
            </li>
            <li><a ng-click="nextPage();">Next &raquo;</a></li>
            <li><a ng-click="jumpToPage('max');">Last &raquo;</a></li>
        </ul>

        <table class="table table-striped table-bordered">
            <tr ng-repeat-start="post in postList">
                <td>
                    <h4>
                        <small>{{post.author}}</small>
                        <br/>
                        {{post.thread}}
                    </h4>
                </td>
                <td align="center" style="vertical-align:middle;">
                    <p>{{post.last_modified | date:'yyyy-MM-dd hh:mm:ss'}}</p>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="2">
                    <p ng-bind-html="post.post"></p>
                    <hr>

                    <p>
                        <a class="btn btn-danger" href="#/fansview/{{forumCode}}/thread/{{post.thread_id}}/reply" role="button">REPLY</a>
                        <a class="btn btn-default" href="/#/fansview/{{forumCode}}" role="button">FORUM</a>
                        <a class="btn btn-default" href="/#/fansview" role="button">ALL FORUMS</a>
                    </p>
                </td>
                </td>
            </tr>
        </table>

        <ul class="pagination">
            <li><a ng-click="jumpToPage(1)">&laquo; First</a></li>
            <li><a ng-click="prevPage();">&laquo; Prev</a></li>
            <li ng-repeat="page in pageList">
                <a ng-click="jumpToPage(pageList[$index]);" ng-class="((pageList[$index] === pageNum)?'bold':'')">
                    {{pageList[$index]}}
                </a>
            </li>
            <li><a ng-click="nextPage();">Next &raquo;</a></li>
            <li><a ng-click="jumpToPage('max');">Last &raquo;</a></li>
        </ul>

    </div>
    <!-- end content-container-left -->

    <div class="content-container">

        <div class="row">
            <div class="col-md-3">
                <p><a class="btn-lg btn-info btn-block" href="/#/fansview/nosebleeds" role="button"><strong>NOSEBLEEDS</strong></a></p>
            </div><!-- end col-md-3 -->

            <div class="col-md-3">
                <p><a class="btn-lg btn-info btn-block" href="/#/fansview/concourse" role="button"><strong>CONCOURSE</strong></a></p>
            </div><!-- end col-md-3 -->

            <div class="col-md-3">
                <p><a class="btn-lg btn-info btn-block" href="/#/fansview/tailgate" role="button"><strong>TAILGATE</strong></a></p>
            </div><!-- end col-md-3 -->

            <div class="col-md-3">
                <p><a class="btn-lg btn-info btn-block" href="/#/fansview/ownersbox" role="button"><strong>OWNER'S BOX</strong></a></p>
            </div><!-- end col-md-3 -->
        </div><!-- end row -->

        <hr>
        <p><a class="btn btn-default" href="#" role="button">BACK TO TOP</a></p>


    </div><!-- end content-container -->